extends layout

block content
	div
		span='Please enter your email'
		br
		input(type='email', id='email', name='email')
		br
		a(id='save_email', href='javascript:void(0);')='Set email'
		br
		input(type='url', id='url', name='url')br
		a(id='save_url', href='javascript:void(0);')='Set url'
		ul(id='receiver')