extends layout

block content
	div
		span='Please enter your email'
		br
		input(type='email', id='email', name='email')br
		a(id='sender', href='javascript:void(0);')='Set new email'
		ul(id='receiver')